$add-btn-overlay-color: #5e53ff;

.add-node-btn-overlay {
    position: fixed;
    bottom: 70px;
    right: 50px;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    svg {
        fill: $add-btn-overlay-color;
    }
}

.add-folder-item-selection {
    height: 175px;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: -200px;
    z-index: 1;
    transition: bottom 0.5s ease;
    background-color: rgb(227, 227, 227);

    button {
        margin: 10px 15px 0 15px;
        padding: 10px;
        background-color: white;
        border-color: rgb(234, 234, 234);
        border-style: solid
    }

    span.disabled-text {
        text-align: center;
        margin: 0 0 10px 0;
    }
}

.add-folder-item-selection.animate {
    bottom: 0;
}

.add-folder-item-selection:not(.animate) {
    bottom: -200px;
}