.folder-level-up {
    width: 100px;
    height: inherit;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: dashed;
    text-align: center;

    svg {
        height: 25px;
    }
}

.disabled {
    opacity: 30%;
}