@import "@scss/Variables.scss";

.folder-nav {
    @include flex-center;
    text-align: center;

    display: flex;
    justify-content: space-between;

    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;

    &-heirarchy,
    &-level-up {
        @include flex-center;
        text-align: center;
        box-sizing: border-box;
        border-style: dashed;

        width: 100px;
        height: inherit;

        svg {
            height: 25px;
        }

    }

    .disabled {
        opacity: 30%;
    }
}

.folder-stats {
    display: flex;
    justify-content: space-between;

    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;

    &-count,
    &-items-count,
    &-items-quantity,
    &-total-value {
        @include flex-center;
        text-align: center;
        border-style: dashed;

        height: inherit;
        padding: 5px;
        box-sizing: border-box;
    }
}

[class*="-node"] {
    border-style: dashed;

    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.item {
    border-style: dashed;

    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;

}