@import "@scss/Variables.scss";

.folder-nav {
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;

    @include flex-center;
    justify-content: space-between;

    text-align: center;



    &-heirarchy,
    &-level-up {
        width: 100px;
        height: inherit;
        box-sizing: border-box;

        @include flex-center;

        border-style: dashed;

        text-align: center;

        svg {
            height: 25px;
        }

    }

    .disabled {
        opacity: 30%;
    }
}

.folder-stats {
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    justify-content: space-between;

    &-count,
    &-items-count,
    &-items-quantity,
    &-total-value {
        height: inherit;
        padding: 5px;
        box-sizing: border-box;

        @include flex-center;

        border-style: dashed;

        text-align: center;
    }
}

.folder-nodes {
    box-sizing: border-box;
    padding: 5px;
}

.folder-node,
.item-node {
    height: 100px;
    margin: 10px;

    border-style: dashed;
}

.item {
    height: 100px;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;

    border-style: dashed;
}