@import "@scss/Global.scss";

.main-folders-page {
    padding: 0 10px 0 10px;
}

.folder-stats {
    margin: 15px 0 0 0;

    display: flex;
    justify-content: space-between;

    &-count,
    &-items-count,
    &-items-quantity,
    &-total-value {
        height: inherit;
        padding: 5px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        border-style: dashed;
        text-align: center;
    }
}

.folder-nodes {
    box-sizing: border-box;
}

.folder-node,
.item-node {
    height: 100px;
    margin: 15px 0 0 0;
    border-style: dashed;
}

.item {
    height: 100px;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: dashed;
}

.folder-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}