@import "@scss/Global.scss";

.search-content {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#search-input {
    margin-top: 25px;
    width: 100%;
    @include flex-center;
}

.checkboxes {
    margin-top: 15px;

    @include flex-center;

    label {
        margin: 10px;
    }
}

.search-results {
    margin-top: 25px;
}

.folder-item-error {
    text-align: center;
}