@import "@scss/Variables.scss";

.nav-bar {
  display: flex;
  justify-content: space-between;
  height: 120px;
}

span.readonly-text {
  display: flex;
  color: $default-error-red;
  align-items: center;
  letter-spacing: 1.5px;
  font-weight: 600;
}