.user-profile {
    margin: 0 10px 0 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.user-img {
    box-sizing: border-box;
    text-align: center;
    text-wrap: wrap;
    border-style: dashed;
    height: 60px;

    img {
        height: 100%;
    }
}