@import "@scss/Global.scss";

$menu-bar-container-height: 60px;
$menu-bar-container-width: 52px;

#folder-modal {
    background-color: rgb(255, 255, 255);
}

.folder-modal-header {
    padding: 20px 0 20px 0;
    position: relative;
    height: $menu-bar-container-height;
    display: flex;
}

.folder-modal-close {
    position: absolute;
    right: 15px;
    max-height: $menu-bar-container-height;
    min-height: $menu-bar-container-height;
    max-width: $menu-bar-container-width;
    min-width: $menu-bar-container-width;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.folder-modal-close-bar {
    width: 100%;
    height: 10px;
    background-color: $default-light-teal;
    border-radius: 0.5em;
}

.folder-modal-close-bar:nth-child(1) {
    transform: translate(0, 13px) rotate(45deg);
}

.folder-modal-close-bar:nth-child(2) {
    transform: translate(0, -10px) rotate(-45deg);
}