.folder-container {
    margin: 10px 10px 0 10px;
    padding: 15px;
}

span.folder-name {
    white-space: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
}

div.folder-node-info {
    margin: 5px 0 0 0;
    border-style: dashed;
    padding: 5px;

    .folder-details {

        div.folder-name,
        div.folder-count {
            white-space: nowrap;
            overflow-x: scroll;
            scrollbar-width: none;
            margin: 5px 0;
        }
    }
}

div.item-title {
    margin: 20px 0 0 0;
}

div.item-node-info {
    margin: 5px 0 0 0;
    border-style: dashed;
    padding: 5px;

    .folder-item-details {

        div {
            margin: 5px 0;
        }
    }
}