@import "@scss/Variables.scss";

$menu-bar-container-height: 60px;
$menu-bar-container-width: 52px;

#folder-modal {
    width: 300px;
    background-color: rgb(255, 255, 255);
}

.folder-modal-header {
    box-sizing: border-box;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 2px;
}

$svg-width: 50px;
$svg-height: 50px;
$svg-fill: rgb(156, 156, 156);

span.folder-edit-options {
    box-sizing: border-box;
    margin: 0 0 0 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    svg {
        width: $svg-width;
        height: calc(#{$svg-height} - 8px);
        fill: $svg-fill;
        cursor: pointer;
    }

}

div.header-folder-menu-options {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 70px;
    left: 20px;
    background-color: gray;

    ul li {
        padding: 3px 0;
    }

    button {
        cursor: pointer;
    }
}