@import "@scss/Global.scss";

.item-images-qr {
    margin: 0 15px 0 15px;
    padding: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-style: dashed;
}


span.item-image,
span.item-qrcode {
    width: 125px;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: dashed;
}

div.item-description {
    padding: 15px;
}

div.item-quantity {
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    border-style: dashed;

    span {
        width: 50%;
    }
}

div.item-details {
    height: 50px;
    padding: 10px;
    border-style: dashed;

    div.item-path,
    div.item-name {
        white-space: nowrap;
        overflow-x: scroll;
        scrollbar-width: none;
    }
}

div.item-price {
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    border-style: dashed;

    span {
        width: 50%;
    }
}