@import "@scss/Variables.scss";

#item-modal {
    width: 300px;
    background-color: white;
}

div.item-modal-header {
    box-sizing: border-box;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 2px;
}

$svg-width: 50px;
$svg-height: 50px;
$svg-fill: rgb(156, 156, 156);

span.edit-options {
    box-sizing: border-box;
    margin: 0 0 0 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    svg {
        width: $svg-width;
        height: calc(#{$svg-height} - 8px);
        fill: $svg-fill;
        cursor: pointer;
    }

}

span.close-btn {
    margin: 0 10px 0 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    cursor: pointer;

    svg {
        height: $svg-height;
        width: $svg-width;
        fill: $svg-fill;
    }
}

span.disabled-text {
    position: absolute;
    top: 70px;
    left: 20px;
    width: 200px;
    height: 150px;
    align-content: center;
    text-align: center;
    background-color: gray;

    button {
        margin: 5px 0 0 0;
        cursor: pointer;
    }
}

div.header-item-menu-options {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 70px;
    left: 20px;
    background-color: gray;

    ul li {
        padding: 3px 0;
    }

    button {
        cursor: pointer;
    }
}

div.item-modal-confirm-delete {
    box-sizing: border-box;
    height: 200px;
    width: 300px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: whitesmoke;

    div.confirm-btns {
        margin-top: 25px;
        display: flex;
        justify-content: space-evenly;

        button {
            width: 70px;
        }
    }
}