@import "@scss/Variables.scss";

html,
body {
  margin: 0;
  padding: 0;
}

.error {
  color: $default-error-red;
}

.error-underline {
  text-decoration: underline;
  text-decoration-color: $default-error-red;
}