// image container
.upload-image {
  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  height: 200px;
}

// item details container
.main-container {
  margin-top: 50px;
}
.parent-folder {
  margin-left: 10px;
  margin-bottom: 20px;
}

.item-name-input,
.item-name {
  margin-left: 10px;
}

.form-item-details {
  width: 100%;
}

.items-top,
.items-bot {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.quantity-container,
.min-level-container,
.price-container,
.total-value-container {
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.btn-container {
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
