@import "@scss/Global.scss";

/* navigation bar container */
.nav-bar {
  height: 70px;
  display: flex;
  justify-content: space-between;
}

/* user profile container */
.user-profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-wrap: wrap;
  border-style: dashed;
  height: 80%;
  width: 125px;
}