@import "@scss/Global.scss";

/* navigation bar container */
.nav-bar {
  padding: 0 10px 0 10px;

  display: flex;
  justify-content: space-between;
}

/* user profile container */
.user-profile {
  @include flex-center;
}

.img-container {
  @include flex-center;

  text-align: center;
  text-wrap: wrap;

  border-style: dashed;
  height: 80%;
  width: 125px;
}